

  .dropdown-item:hover {
    background-color: rgb(247, 97, 97);
  }

  .card{
    display: inline-block;
    
  }

  .col{    
    text-align:center;
  }
  

  /*-------------------------------------------------------------------*/